.form {
    display: block;
    justify-content: center;
    align-items: center;
  }
  
  .frame_box_center {
    display: block;
    margin: 100px;
    padding: 20px;
  }
  
  #para {
    flex: 1;
    text-align: center;
    padding: 20px;
    text-decoration: solid;
  }
  
  .click_button {
    color: white;
    border-radius: 5px;
    background-color: blue;
    margin-left: 50%;
  }
  