.profileHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-size:cover;
    height: auto;
  }
  .ProfileHeaderImage{
    width: auto;
    height: 100px;
    margin: 50px;
    
  }
  .profileImg{
    width:auto;
    height:100px;
    opacity: 1.0;
    border-radius: 50%;
    border: 1px solid #B69AFF;
  }

  .ProfileHeaderText{
    margin: 8px 0;
    font-weight: bold;
  }

  .ProfileText{
    margin-bottom: 20px;
  }

  .profileMessage{
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 5px;
    text-align: center;
    height: auto;
    
  }

  .ProfileDashboard{
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 50px;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
    height: auto;
    font-size: 23px;
    color: #fff;
    background-color: #532f44;
    box-shadow: 2px 2px 4px #00001a;
  }

  .logoutButton{
    margin-bottom: 20px;
    width: 300px;
    background-color: #fff;
    border: 2px solid #532f44;
    color: #532f44;
    font-size: 14px;
    text-align: center;
    border-radius: 10px;
    padding: 8px 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }