.shoppingform{
    border: 1px solid purple;
    width: 40%;
    margin-left:50px; 
    height: max-content;
    margin-bottom: 50px;
    
}
.shoptable{
    padding: 25px;    
}

.adpost h1{
    margin-left:100px;
    padding : 25px;

}
.shoptable th{
    text-align: left; 
    padding-right: 67px;
}

.shoptable input{
    width: 383px;
    height: 50px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
    border: 1px solid purple;
    
}
.shoppingform textarea{
    border: 1px solid purple;
    border-radius: 15px;
    margin-top: 7px;
}
.shopbutton{
    margin-left: 150px;
    width: 250px;
    height: 45px;
    font-size: large;
    font-weight: 600;
    border:1px solid purple;
    border-radius: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}
.shopbutton:hover{
    background-color: purple;
    color: white;
    
}
.restrict p{
    margin-top: 20px;
    margin-right: 20px;
    text-align: left;
    margin-left: 25px;
    color: red;
    font-weight: 600;
}
.restrict input{
    margin-left: 40px;
    
}
.shopbody{
    display: flex;
}
.shoptable2{
    padding: 25px; 
    border: 1px solid #800080;
    margin-left: 75px;
    height: 800px;
    width: 1250px;

} 
.shoptable2 h3{
    text-align: center;
    font-size:x-large;
}
/*.shoptable2 th{
    text-align: left; 
    
}*/
.shoptable2 td{
    width: 383px;
    height: 25px;
    
    
    /*border: 1px solid rgb(174, 159, 174);*/
}
.comname{
    font-weight: 600;
    font-size: larger;
}
.shopphoto{
    text-align: center;
    
    /*border: 1px solid rgb(174, 159, 174);*/
}

.shoptable2 td img{
    width: 300px;
    height: 300px;
    
}


/*...................productdescription css................*/

.pdescrip h2{
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
.pdetails{
    border: 1px solid gray;
    width: 1225px;
    height: 1000px;
    margin-left: 150px;
    
}
.pdetails p{
    padding-left: 50px;
    
    padding-top: 25px;
    padding-bottom: 25px;
    
}
.pdetails img{
    display: block;
    max-width: 100%;
    margin: o auto;
    height: auto;
}