.custom-button {
    width: 90px;
    height: 35px;
    outline: none;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 700;
    justify-content: center;
    margin-left: 850px;
    margin-top: 20px;
    cursor: pointer;
}

.custom-button:hover {
    background: rgb(216, 216, 216);
}