.reso-post-details-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.reso-post-title {
  font-size: 36px;
  margin-bottom: 20px;
}

.reso-post-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reso-edit-delete-wrapper {
  display: flex;
  align-items: center;
}

.reso-edit-icon,
.reso-delete-icon {
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
}

.reso-post-info {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.reso-post-info p {
  font-size: 14px;
  color: #4f4f4f; /* Use a color similar to ash */
}

.reso-post-image {
  width: 100%;
  max-height: 400px;
  object-fit: cover;
  display: block;
  margin: 0 auto; /* Center the image horizontally */
  border-radius: 5px;
  margin-bottom: 20px;
  border: 1px solid rgb(187, 129, 156);
}

.reso-post-content {
  font-size: 16px;
  line-height: 1.6;
  margin-bottom: 20px;
  max-width: 100%;
  text-align: justify;
  white-space: pre-line;
}

.reso-post-categories {
  margin-bottom: 20px;
  display: flex;
}

.reso-post-categories p {
  font-weight: bold;
  margin-bottom: 5px;
}

.reso-post-categories div {
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Align items horizontally */
  margin-left: 5px;
}

.reso-post-categories div div {
  background-color: #f0f0f0;
  border-radius: 5px;
  padding: 5px 10px;
  margin-right: 10px;
  margin-bottom: 5px;
}

.reso-comments-section {
  margin-bottom: 20px;
}

.reso-comment {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.reso-comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  color: #4b5563; 
}
.reso-com{
  display: flex;
}

.resocomuser{
  margin-right: 13px;
  font-size: 11px; 
}

.resocomdate{
  font-size: 10px;
  margin-top: 2px;
}

.reso-comment-actions{
  display: flex;
  cursor: pointer;
}

.reso-write-comment {
  display: flex;
  align-items: center;
}

.resocomsection {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

.reso-write-comment button {
  padding: 10px 20px;
  background-color: purple;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.reso-write-comment button:hover {
  background-color: rgb(78, 1, 78);
}

input[type=radio]{
  display: none;
  margin-top: 5px;
}

.resoStar{
  cursor: pointer;
}

.resoStarRating p{
  font-weight: bold;
  margin-top: 5px;
  margin-bottom: 18px;
}
