/** -----------------------------banner-------------------------------**/

.blogBanner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/blogBanner.png');
  background-size: cover;
  padding: 40px;
  width: 100%;
  height: 300px;
  font-size: 20px;
  font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.bannerSection {
  width: 50%;
}

.bannerSection .quote {
  color: #ffffff;
  text-align: center;
}

.Bannercreate {
  margin-top: 10px;
  margin-left: 120px;
}

.Bannercreate .createLink {
  text-decoration: none;
  color: #532f44; 
  border: solid #532f44;
  padding: 10px 20px;
  border-radius: 25px;
}

.blogQuote{
  color:#fff;
}

.bannerSection img {
  width: 50%; 
  margin-left: 30%;
  box-shadow: none;
}

/**----------------banner ends -------------------------------------------*/
.blogFilters {
  display: flex;
  justify-content: 20px; 
  margin-left: 120px;
}

.filterButton {
  padding: 10px 20px;
  background-color: #ffffff;
  color: #532f44;
  border: solid #532f44 ;
  border-radius: 20px;
  cursor: pointer;
  margin: 20px;
}
  
  
  .create{ 
    height: 40px;
    width: 150px;
    margin-left: 1100px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
  
    
  }
  .createLink{
    color: rgb(83, 47, 68);
    text-decoration: none;
    font-size: 25px;

    font-family: 'https://fonts.googleapis.com/css?family=PT Sans';

  
   
    
    
  
  }
  
  .create:hover{
    border: solid 3px #532f44;
    border-radius: 40px;
    
  }
  
  
  /*
  <img src={addIcon} className="addIcon"/> 
  .addIcon{
    height: 70px;
    width: 70px;
  }
  
  */
  
  
  
  /*---------------Post ---------------------------*/
  .bpost{
    margin-left: 60px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    font-size: 20px;
    font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
    height:fit-content;
    width: 1225px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 150px;
  }
  
  .postCard{
    padding-top: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    margin-left: 60px;
    margin-right: 0px;
    margin-top: 20px;
    background-color: #ffffff;
    color:#000;
    font-size: 20px;
    height:fit-content;
    width: 300px;
    cursor: pointer;
    margin-bottom: 20px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .blogPostImage{
    max-width: 100%;
    padding: 0px;
    height: auto;
    
  }
  .postText{
    width:90%;
  }
  .postTitle{
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
   
  }

  .postDescription{
    font-size: 16px;
    text-align: justify;

  }
  .blogcard{
    text-decoration: none;
    color: inherit;
  }
    

  /**--------------create blog posts -------------------------**/
  .createBlog{
    height: 150vh;
    width: 100vw;
    background-color: #f5f5f5;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    margin-bottom: auto;

}

.createBlogDiv{
    height: 700px;
    width: 700px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.CreateBlogTextdiv{
    margin-left: 10px;
    
}

.createBlogSubmit{
    height: 40px;
    width: 300px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: solid 2px #532f44;
    font-size: 20px;
    font-family: cursive;
    color: #000;
    cursor: pointer;

}


.createBlogSubmit:hover{
    background-color: #532f44;
    color: #fff;
}
.WriteBlog{
  border: 1px solid purple;
  border-radius: 20px;
  height: fit-content;
  width: 900px;
  margin-top: 25px;
  margin-left: 235px;
  margin-bottom: 25px;
  padding-top: 20px;

}

.createBlogForm{
  padding: 25px;  
  margin-bottom: 10px; 
  padding : 25px;

}

.createBlogTitle{
  text-align: center;
  font-size: 40px;
  font-family: 'https://fonts.googleapis.com/css?family=PT Sans';
  color: rgb(95, 20, 64);
  margin-top: 10px;
}

.createBlogTextbox{
  padding: 5px;
  height: auto;
  width: 800px;
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 0.5px solid ;
  font-size: 15px;
}
.createBlogTextbox:hover{
  border: #532f44 solid 2px;
}

.createBlogEnterImage{
  height: auto;
  margin-bottom: 10px;
  border-radius: 5px;
  
}
.createBlogTextArea{
  height: auto;
  width: 800px;
  margin-bottom: 10px;
  border-radius: 5px;
}
.createBlogTextArea:hover{
  border: #532f44 solid 2px;
}