.blogTitle{
    display: flex;
    padding-left: 200px;
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    margin-top: 50px;
    margin-bottom: 50px;
    color: rgb(95, 20, 64);
  }
  
  
  .create{ 
    height: 40px;
    width: 150px;
    margin-left: 1150px;
    margin-top: 0px;
    margin-bottom: 5px;
    text-align: center;
    justify-content: center;
  
    
  }
  .createLink{
    color: rgb(83, 47, 68);
    text-decoration: none;
    font-size: 25px;
    font-family: cursive;
  
   
    
    
  
  }
  
  .create:hover{
    border: solid 3px #532f44;
    border-radius: 40px;
    
  }
  
  
  /*
  <img src={addIcon} className="addIcon"/> 
  .addIcon{
    height: 70px;
    width: 70px;
  }
  
  */
  
  
  
  /*---------------Post ---------------------------*/
  .bpost{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    padding: 20px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    height:fit-content;
    width: 1225px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    column-gap: 150px;
  }
  
  .postCard{
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    background-color: #fff;
    color:#000;
    padding: 20px;
    font-size: 20px;
    height:fit-content;
    width: 350px;
    
  }
  
  .postCard:hover{
   border: 10px solid;
   border-radius: 25px;
   background: linear-gradient(0deg, rgba(105,47,89,1) 0%, rgba(61,3,48,1) 100%);
   color: #fff;
   cursor: pointer;
  }
  
  .postImage{
    height: 220px;
    width: auto;
    justify-content: center;
    
  }
  .postTitle{
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-transform: uppercase;
    justify-content: center;
    text-align: center;
   
  }
  
  .postDescription{
    font-size: 15px;
    font-family:cursive;
  }
    